<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382755949407-68i7mnl4avi2j2cms9u0l3pjt3drlld1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382755949407-68i7mnl4avi2j2cms9u0l3pjt3drlld1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>382755949407-5giv6i0niptli12leuphaa0hd34n04m7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAedwvLWu6EfBKn_RTcTZVuSqS8txnUN7A</string>
	<key>GCM_SENDER_ID</key>
	<string>382755949407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rndeep.fantoo</string>
	<key>PROJECT_ID</key>
	<string>fandomnetworkservice</string>
	<key>STORAGE_BUCKET</key>
	<string>fandomnetworkservice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382755949407:ios:921fe84356867579d244ea</string>
	<key>DATABASE_URL</key>
	<string>https://fandomnetworkservice.firebaseio.com</string>
</dict>
</plist>